<template>
    <div>
        <h2>Todos</h2>

        <div class="legend">
            <span>Double click to mark as complete</span>
            <span>
                <span class="incomplete-box"></span> = Incomplete
            </span>
            <span>
                <span class="complete-box"></span> = Complete
            </span>
        </div>

        <div class="todos">
            <div 
                @dblclick="onDblClick(todo)" 
                v-for="todo in allTodos" 
                :key="todo.id" 
                class="todo" 
                v-bind:class="{'is-complete':todo.completed}">
                    {{ todo.title }}
                <img @click="deleteTodo(todo.id)" src="../assets/delete_icon.png" alt="delete" width="20px">
            </div>
        </div>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
    name: "Todos",
    methods: {
        ...mapActions(['fetchJsonTodos', 'deleteTodo', 'updateTodo']),
        onDblClick(todo) {
            const updateTodo = {
                id: todo.id,
                title: todo.title,
                completed: !todo.completed
            }

            this.updateTodo(updateTodo);
        }
    },
    computed: mapGetters(['allTodos']),
    created() {
        this.fetchJsonTodos();
    }
};
</script>

<style scoped>
.todos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.todo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #DB7F67;
    color: #FFFFFF;
    padding: 1rem;
    padding-left: 75px;
    border-radius: 5px;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.legend {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}
.complete-box {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #35495e;
}
.incomplete-box {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #41b883;
}
.is-complete {
    background: #35495e;
    color: #fff;
}
@media (max-width: 500px) {
  .todos {
    grid-template-columns: 1fr;
  }
}
</style>
